.expense-date{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #3a3a3a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 2rem;

}
.expense-date__month{
    font-size: 1.0rem;
    font-weight: bold;
}
.expense-date__year{
    font-size: 1.25rem;
    font-weight: bold;
}
.expense-date__day{
    font-size: 1.5rem;
    font-weight: bold;
}